/* aloglia autocomplete.js styles */

.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

/* main styles */

body {
  display: flex;
  font-family: "Avenir Next W01", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

html,
body,
#viewDiv {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  flex: auto;
  overflow: hidden;
}

#sidebar {
  min-width: 325px;
  /* max-width: 375px; */
  height: 100%;
  padding: 20px;
  /* margin: 0px 12px; */
  flex: auto;
  border-right: 2px solid gray;
  overflow-y: scroll;
  overflow-x: hidden;
}

#sidebarItems {
  display: flex;
  flex-direction: column;
}

#sidebarItems > * {
  flex: auto;
  margin-bottom: 10px;
}

#sidebarItems:first-child {
  margin-top: 10px;
}

.sidebarItemHeader {
  font-weight: bold;
}

#datasetName {
  font-size: 24px;
}

#recordCount {
  margin-left: 12px;
  color: #828282;
}

#widgets {
  /* padding: 0; */
  margin: 0;
}

.widget {
  outline: 2px solid gray;
  padding: 10px;
  margin: 12px 0px;
}

*:focus {
   outline: none !important;
}

.histogramWidget {
  height: 80px;
  width: 90%;
  padding-left: 5%;
  padding-bottom: 15px;
}

.miniHistogram {
  height: 20px;
}

.widgetLabel {
  font-size: .9em;
}

#stylingAttribute {
  margin: 10px;
  list-style-position: inside;
}

#resultsTable {
  position: absolute;
  right: 0px;
  font-size: 12px;
  color: white;
  background-color: black;
  border: 2px solid white;
  display: inline-table;
  padding: 10px;
  box-shadow: none;
}

#attributeList {
  max-height: 10.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 0 10px 0;
  padding-right: 10px;
  border: 1px solid lightgray;
}

#filtersList {
  max-height: 15.5em;
  line-height: normal;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 0 10px 0;
  border: 1px solid lightgray;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#filterResults {
  outline: 1px solid lightgray;
}

.attribute {
  color: black;
  margin-left: 5px;
}

/* hide bullet */
.attribute:hover::before {
  display: none;
}
.attributeRange {
  color: #227cb4;
  font-size: .7em;
  margin-left: 5px;
}

.filterIcons {
  float: right;
  padding: 0 3px;;
}

.filterIcons:hover {
  color: white;
  background-color: darkred;
  cursor: pointer
}

.filterIcons:hover .tooltip {
  visibility: visible;
}

#attributeSearch {
  margin: 0;
  /* padding: 0; */
}

#attributesCount {
  float: right;
}

.tooltip {
  visibility: hidden;
  color: black;
  background-color: white;
  border: 2px solid red;
  position: absolute;
  z-index: 100;
  padding: 2px;
  margin: -2px 2px;
}

.sectionHead {
  font-weight: bold;
}

#filtersCount {
  float: right;
}

.valueListWidget label {
  display: block;
  padding: 4px;
}

.valueListWidget label > .subText {
/*     display: none; */
  margin-left: 8px;
  color: #828282;
  font-size: 14px;
}

.valueListWidget label:hover .subText {
/*     display: inline; */
}

.valueListSearchBox {
  font-family: "Avenir Next W01", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-top: 4px;
  margin-left: 4px;
  width: calc(100% - 4px);
}

.valueListSideLink {
  display: none;
  float: right;
  color: #005e95; /* calcite dark-blue */
}

.valueListWidget *:hover > .valueListSideLink {
  display: inline;
}